@page "/cinemas"
@using System.Globalization
@using System.Net.Http
@using System.Text.Json
@using System.Threading.Tasks
@using System.Linq
@using RepertoireSearchEngine.Server.Dtos
@using RepertoireSearchEngine.Server.Services.Interfaces;
@inject ICinemaService CinemaService;

<h1>Cinema Repertoire</h1>

<h1>Movies</h1>

@if (cinemas == null)
{
    <p>Loading...</p>
}
else if (cinemas.Any())
{
    <table>
        <thead>
            <tr>
                <th>Cinema</th>
                <th>Title</th>
                <th>Showtimes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cinema in cinemas)
            {
                <tr>
                    <td>@cinema.CinemaName</td>
                    @foreach (var repertoire in cinema.Repertoire)
                    {
                        @foreach (var movies in repertoire.Movies)
                        {
                            <td>@movies.MovieTitle</td>
                        }
                        @foreach (var sittings in repertoire.Sittings)
                        {
                            <td>@sittings.Name</td>
                            <td>@sittings.Price</td>
                            @foreach (var seats in sittings.Seats)
                            {
                                <td>@seats.Row</td>
                                <td>
                                    @if (seats.Seats is not null)
                                    {
                                        string.Join(", ", seats.Seats);
                                    }
                                </td>
                            }
                        }
                    }
                </tr>
             }
        </tbody>
    </table>
}
else
{
    <p>No repertoires found.</p>
}


@code {
    private IEnumerable<CinemaDto> cinemas;
    private IEnumerable<RepertoireDto> repertoires;

    protected override async Task OnInitializedAsync()
    {
        cinemas = await CinemaService.GetCinemasAsync();
    }
}